In [32]:
import os
import urllib.request
import datetime
import pandas as pd
import numpy as np

In [29]:
# DataFrame vacío para almacenar los datos
data_combined_2003_20 = pd.DataFrame()
data_combined_2021_22 = pd.DataFrame()

# Descarga y concatena los datos para cada año
for year in range(2003, 2021):
    url = f"http://infosiap.siap.gob.mx/gobmx/datosAbiertos/ProduccionAgricola/Cierre_agricola_mun_{year}.csv"
    data1 = pd.read_csv(url, encoding='latin-1')
    data_combined_2003_20 = pd.concat([data_combined_2003_20, data1])

for year in range(2021, 2023):
    url = f"http://infosiap.siap.gob.mx/gobmx/datosAbiertos/ProduccionAgricola/Cierre_agr_mun_{year}.csv"
    data2 = pd.read_csv(url, encoding='latin-1')
    data_combined_2021_22 = pd.concat([data_combined_2021_22, data2])

# Reinicia el índice del DataFrame combinado
data_combined = pd.concat([data_combined_2003_20, data_combined_2021_22])
data_combined.reset_index(drop=True, inplace=True)

C:\Users\ACF\AppData\Local\Temp\ipykernel_13992\1323499295.py:8: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv(url, encoding='latin-1')
C:\Users\ACF\AppData\Local\Temp\ipykernel_13992\1323499295.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv(url, encoding='latin-1')

In [34]:
data_combined.to_csv('data_combined_2003_2023.csv', index=False)

In [31]:
# show shpe of data
print(data_combined.shape)
data_combined.describe()

(713499, 26)

,Anio,Idestado,Idddr,Idcader,Idmunicipio,Idciclo,Idmodalidad,Idunidadmedida,Idcultivo,Cosechada,Siniestrada,Precio,Valorproduccion,Preciomediorural
count,713499.000000,713499.000000,713499.000000,713499.000000,713499.000000,713499.000000,713499.000000,713499.000000,7.134990e+05,713499.000000,713499.000000,6.472030e+05,7.134990e+05,66296.000000
mean,2012.382321,18.428232,99.572137,2.687743,79.684454,2.042841,1.458341,200201.046276,7.407386e+06,554.167884,31.719924,5.281019e+03,1.218473e+07,8231.906985
std,5.706617,7.689212,48.781877,1.959086,109.213704,0.753634,0.498262,0.474509,1.881717e+06,2589.120126,438.871318,1.184760e+04,7.205647e+07,11461.974493
min,2003.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,200201.000000,1.000000e+06,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
25%,2007.000000,13.000000,65.000000,1.000000,16.000000,1.000000,1.000000,200201.000000,6.120000e+06,8.000000,0.000000,1.400000e+03,1.772600e+05,3535.040000
50%,2012.000000,19.000000,104.000000,2.000000,41.000000,2.000000,1.000000,200201.000000,7.390000e+06,35.000000,0.000000,3.416060e+03,7.998500e+05,5584.145000
75%,2017.000000,24.000000,131.000000,3.000000,95.000000,3.000000,2.000000,200201.000000,8.210000e+06,200.000000,0.000000,6.000000e+03,4.012800e+06,9000.000000
max,2022.000000,32.000000,193.000000,19.000000,570.000000,3.000000,2.000000,200217.000000,1.507000e+07,216548.290000,54073.000000,3.930450e+06,7.622198e+09,380000.000000