#Paqueterías necesarias para descargar los datos

In [53]:
import os
import urllib.request
import datetime
import pandas as pd
import numpy as np
from google.colab import drive
import missingno as msno
from sklearn import preprocessing
import numpy as np
from sklearn.preprocessing import OneHotEncoder

*Pagina de descarga* [*SIAP*](http://infosiap.siap.gob.mx/gobmx/datosAbiertos.php)

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

# Datos
Descarga manual de datos debido a que cada archivo tenia un vinculo distinto y no se pudo descargar de forma bruta con python

In [9]:
df2020 = pd.read_csv("/content/drive/MyDrive/trabajo-terminal/IVF-Agr-Nal-Cul-2020.csv")
df2021 = pd.read_csv("/content/drive/MyDrive/trabajo-terminal/IVF-Agr-Nal-Cul-2021.csv")
df2022 = pd.read_csv("/content/drive/MyDrive/trabajo-terminal/IVF-Agr-Nal-Cul-2022.csv")
df2019 = pd.read_csv("/content/drive/MyDrive/trabajo-terminal/IVF-Agr-Nal–Cul-2019.csv")
df2017 = pd.read_csv("/content/drive/MyDrive/trabajo-terminal/IVF_Agric_Nal_Cult_17.csv")
df2018 = pd.read_csv("/content/drive/MyDrive/trabajo-terminal/IVF_Agricola_Nacional–Cultivo_2018.csv")
df2015 = pd.read_csv("/content/drive/MyDrive/trabajo-terminal/IVF_Nal_Cult_15.csv")
df2016 = pd.read_csv("/content/drive/MyDrive/trabajo-terminal/IVF_Nal_Cult_16.csv")

print(df2020.head())
print(df2021.head())
print(df2022.head())
print(df2019.head())

         Cultivo  2020 1  2020 2  2020 3  2020 4 2020 5  2020 6  2020 7  \
0          Agave    63.9    75.6   129.1    62.3  242.9   149.2   110.9
1       Aguacate   174.8   151.2   169.9   125.9  118.7   135.3   164.5
2            Ajo     3.5    27.8    97.5   237.4  456.7   542.6    26.2
3       Ajonjolí   328.1   115.6    19.5    61.0    0.5     1.3     0.0
4  Alfalfa verde    58.7    69.1   112.5   158.6  153.8   148.6   148.1

   2020 8  2020 9  2020 10  2020 11 2020 12
0    38.3    66.8     91.0    107.3    97.2
1   132.5   209.5    164.4    152.9     216
2    24.7     7.2     29.7     17.5     2.9
3     0.0     0.2     58.5    737.5   407.7
4   145.4   113.3     79.5     73.3    59.1
         Cultivo  2021 1  2021 2  2021 3  2021 4 2021 5  2021 6  2021 7  \
0          Agave    63.5    66.4    96.1   144.9  138.6   151.6    87.9
1       Aguacate   178.3   175.9   161.4   137.3  181.3   183.8   134.7
2            Ajo     0.5    20.6   128.2   269.1  285.5   729.5   185.3
3       Ajonjolí   151.1   140.2    20.6    49.2      7     0.1     0.0
4  Alfalfa verde    56.5    73.3   107.8   134.5  154.9   141.4   149.2

   2021 8  2021 9  2021 10  2021 11 2021 12
0    49.9    61.1    105.1    113.1    80.3
1   130.8   136.1    176.9    142.8   219.5
2    55.2     8.0     11.2     17.9     4.4
3     0.0     0.4     68.8    735.6   460.1
4   147.2   138.6     80.7     74.3    71.2
         Cultivo  2022 1  2022 2  2022 3  2022 4 2022 5  2022 6  2022 7  \
0          Agave    69.0   104.5   177.8    99.7  146.9    98.0    58.0
1       Aguacate   147.5   147.3   173.7   167.5    200   164.3   114.6
2            Ajo     3.9    13.5    86.0   215.8  594.1   460.5   254.0
3       Ajonjolí   194.2    62.6    19.1    46.3    2.7     0.0     0.0
4  Alfalfa verde    55.5    65.2   106.6   132.6  157.1   148.6   165.2

   2022 8  2022 9  2022 10 2022 11 2022 12
0    63.3    40.0    118.2   201.5   111.9
1   166.9   195.3    200.8   163.9   239.3
2    32.2    18.6     20.7    21.8     2.7
3     0.0     0.4     35.6   754.1   624.4
4   148.4   133.1     87.6    95.2      61
         Cultivo  2019 1 2019 2  2019 3  2019 4  2019 5  2019 6  2019 7  \
0          Agave    80.8  105.5   102.0    71.3   136.7   115.6    86.1
1       Aguacate   173.8  162.7   153.7   126.6   117.3   122.3   138.6
2            Ajo     1.4   21.8    98.7   146.3   461.5   547.7   129.7
3       Ajonjolí   250.4   74.5    20.6    56.9     0.0     0.5     0.0
4  Alfalfa verde    61.1   73.3   111.9   124.2   142.2   155.7   147.5

   2019 8  2019 9  2019 10 2019 11 2019 12
0    50.3    71.0    101.2   168.7    97.4
1   164.0   165.4    156.2   177.8     189
2    54.4    29.6     12.5    22.7     2.5
3     0.0     0.0     29.0   797.6   370.3
4   140.8   144.9     77.8    66.4    53.2

In [13]:
df2022.shape

(64, 13)

# Combinación de dataframes

## Merge con Concat
Se descarto debido a que al realizar la operación daba valores NaN

In [20]:
dataframes = [df2015, df2016, df2017, df2018, df2019, df2020, df2021, df2022]
df_merged = pd.concat(dataframes, axis=0, ignore_index=True)

# Mostrar información del DataFrame resultante
print(df_merged.head())  # Muestra las primeras filas del DataFrame combinado

         Cultivo  2015 01   2015 02  2015 03  2015 04  2015 05  2015 06  \
0          Agave     23.51   191.61   226.49    39.90    55.16    27.42
1       Aguacate     21.47   107.72   154.53   119.03   140.99   108.05
2            Ajo      0.77    35.69    64.73   143.69   204.54   440.74
3       Ajonjolí    555.93    96.58    23.22    26.04    34.18    52.38
4  Alfalfa verde     59.58    80.24    88.03   131.26   138.70   146.76

   2015 07  2015 08  2015 09  ...  2022 3  2022 4  2022 5  2022 6  2022 7  \
0    48.23    31.49    60.61  ...     NaN     NaN     NaN     NaN     NaN
1   135.34   126.51    96.67  ...     NaN     NaN     NaN     NaN     NaN
2   131.10    12.17    30.16  ...     NaN     NaN     NaN     NaN     NaN
3     0.48     0.00     3.23  ...     NaN     NaN     NaN     NaN     NaN
4   142.35   157.32   132.59  ...     NaN     NaN     NaN     NaN     NaN

   2022 8  2022 9  2022 10  2022 11  2022 12
0     NaN     NaN      NaN      NaN      NaN
1     NaN     NaN      NaN      NaN      NaN
2     NaN     NaN      NaN      NaN      NaN
3     NaN     NaN      NaN      NaN      NaN
4     NaN     NaN      NaN      NaN      NaN

[5 rows x 98 columns]

## Merge
Se uso merge para fusionar los dataframes, se realizo la fusión de manera exitosa

In [33]:
df_merge = df2022.merge(df2021, on="Cultivo", how="right")
df_merge1 = df_merge.merge(df2020, on="Cultivo", how="right")
df_merge2 = df_merge1.merge(df2019, on="Cultivo", how="right")
df_merge3 = df_merge2.merge(df2018, on="Cultivo", how="right")
df_merge4 = df_merge3.merge(df2017, on="Cultivo", how="right")
df_merge5 = df_merge4.merge(df2016, on="Cultivo", how="right")
df = df_merge6 = df_merge5.merge(df2016, on="Cultivo", how="right")

In [42]:
print(df.head())

         Cultivo  2022 1  2022 2  2022 3  2022 4 2022 5  2022 6  2022 7  \
0          Agave    69.0   104.5   177.8    99.7  146.9    98.0    58.0
1       Aguacate   147.5   147.3   173.7   167.5    200   164.3   114.6
2            Ajo     3.9    13.5    86.0   215.8  594.1   460.5   254.0
3       Ajonjolí   194.2    62.6    19.1    46.3    2.7     0.0     0.0
4  Alfalfa verde    55.5    65.2   106.6   132.6  157.1   148.6   165.2

   2022 8  2022 9  ...   2016 03_y  2016 04_y 2016 05_y  2016 06_y  2016 07_y  \
0    63.3    40.0  ...       55.40     134.36     68.96      23.79      46.25
1   166.9   195.3  ...      159.44      97.59    138.29     129.18     113.90
2    32.2    18.6  ...       71.61     225.44    210.77     633.06     151.05
3     0.0     0.4  ...       24.30      42.30      0.79       1.10       0.00
4   148.4   133.1  ...       89.99     135.71    142.69     146.06     147.31

   2016 08_y  2016 09_y 2016 10_y  2016 11_y  2016 12_y
0     231.38      72.99    116.57      98.26     173.08
1     145.35     129.56    132.95     154.83     147.77
2      32.26       9.99     35.64      23.48       1.82
3       0.00       0.00     52.63     728.53     473.51
4     139.71     149.31     52.52      67.44      66.38

[5 rows x 97 columns]

In [43]:
df.shape

(64, 97)

In [35]:
df_merge.isnull().sum()

Cultivo    0
2022 1     0
2022 2     0
2022 3     0
2022 4     0
2022 5     0
2022 6     0
2022 7     0
2022 8     0
2022 9     0
2022 10    0
2022 11    0
2022 12    0
2021 1     0
2021 2     0
2021 3     0
2021 4     0
2021 5     0
2021 6     0
2021 7     0
2021 8     0
2021 9     0
2021 10    0
2021 11    0
2021 12    0
dtype: int64

In [39]:
df.corr()

<ipython-input-39-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,2022 1,2022 2,2022 3,2022 4,2022 6,2022 7,2022 8,2022 9,2022 10,2021 1,...,2016 03_y,2016 04_y,2016 05_y,2016 06_y,2016 07_y,2016 08_y,2016 09_y,2016 10_y,2016 11_y,2016 12_y
2022 1,1.000000,0.544860,0.670637,0.491210,0.127545,0.067874,-0.123571,0.074239,0.498611,0.789790,...,0.260503,0.264193,0.018857,-0.101598,-0.161626,0.100836,-0.156042,-0.139999,0.091848,0.597912
2022 2,0.544860,1.000000,0.488589,0.431207,-0.049358,-0.019260,-0.037276,-0.036711,0.066410,0.736216,...,0.636485,0.442190,0.077767,-0.065145,-0.148730,0.026801,-0.188446,-0.052054,-0.178012,0.028409
2022 3,0.670637,0.488589,1.000000,0.742216,0.232297,0.135348,-0.028508,0.133455,0.512859,0.538806,...,0.445558,0.567576,0.244585,0.030731,-0.114018,0.183198,-0.101964,-0.151700,-0.232276,0.228877
2022 4,0.491210,0.431207,0.742216,1.000000,0.242794,0.138296,-0.145077,0.067512,0.440689,0.334098,...,0.350502,0.585146,0.413167,0.126523,-0.141239,0.206847,-0.080574,-0.218645,-0.249117,0.156904
2022 6,0.127545,-0.049358,0.232297,0.242794,1.000000,0.682035,0.184683,0.054339,0.176053,0.011250,...,-0.055054,0.068182,0.366033,0.647028,0.284308,0.186576,-0.027760,-0.151925,-0.240510,-0.020149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016 08_y,0.100836,0.026801,0.183198,0.206847,0.186576,0.391305,0.646070,0.509695,0.297701,-0.028823,...,-0.009282,-0.125680,-0.156420,-0.171051,0.100847,1.000000,0.602174,-0.021412,-0.265612,-0.050021
2016 09_y,-0.156042,-0.188446,-0.101964,-0.080574,-0.027760,0.139798,0.650274,0.740627,0.203258,-0.212694,...,-0.097542,-0.115090,-0.263708,-0.224770,0.017780,0.602174,1.000000,0.121423,-0.227496,-0.224700
2016 10_y,-0.139999,-0.052054,-0.151700,-0.218645,-0.151925,-0.200740,0.163266,0.162308,0.398642,-0.069668,...,-0.178052,-0.162370,-0.241035,-0.335637,-0.196496,-0.021412,0.121423,1.000000,0.275266,0.153450
2016 11_y,0.091848,-0.178012,-0.232276,-0.249117,-0.240510,-0.356330,-0.316431,-0.228811,0.130066,0.050930,...,-0.301387,-0.291778,-0.300868,-0.306770,-0.304591,-0.265612,-0.227496,0.275266,1.000000,0.662233
2016 12_y,0.597912,0.028409,0.228877,0.156904,-0.020149,-0.150048,-0.304724,-0.051896,0.483785,0.264464,...,-0.251314,-0.173855,-0.206140,-0.271391,-0.247237,-0.050021,-0.224700,0.153450,0.662233,1.000000